/* reset the box sizing model, IE9+*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: lightgrey;
	margin: 0;
	font-size: 60px;
	font-weight: bold;
	color: white;
}
/*div, section, aside {
    margin: 20px;
}*/
.container {
	width: 100%;
	margin: 0 auto;
}

.A {
    background: lightgreen;
}
.B {
    background: lightblue;
}
.D {
    background: green;
    text-align: center;
}
.C {
    background: blue;
    width: 100%;
	position: absolute;
    bottom: 0;
}
/*mobile first options*/
.A {
	height: 70%;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.B {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30%;
}
.D {
	width: 98%;
	margin: 10px;
}
@media (min-device-width: 450px) {
	.D {
		float: left;
		width: 48%;
		margin: 1% 0 0 1%;
	}
}

@media (min-device-width: 840px) {
	.container {
		text-align: center;
	}
	.container > section, .container > aside {
		display: inline-block;
	}
	.A {
		position: static;
	    min-width: 500px;
		max-height: 500px;
		width: 500px;
	}
	.B {
		position: static;
		min-width: 300px;
		max-height: 300px;
		width: 300px;
	}
	.D {
		width: 220px;
		margin: 10px;
	}
	.D:nth-child(odd) {
		margin-left: 20px;
	}
	.D:nth-child(even) {
		margin-right: 20px;
	}
	.C {
		position: static;
		height: 100%;
		margin-top: 20px;
	}
}